<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="org.reflections.Reflections" level="warn"/>
  <logger name="com.fluxtion" level="warn"/>
  <logger name="com.fluxtion.example" level="info"/>
  <logger name="com.fluxtion.compiler.generation.compiler.SepCompiler" level="info"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
